body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/*--/contact--*/

.address-left {
    width: 80px;
    height: 80px;
    text-align: center;
    background: #ed1c24;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

.address-grid-inf-w3layouts {
    text-align: center;
    margin: 0 auto;
}

.address-grid-inf-w3layouts:nth-child(1) {
    /*padding-left: 0;*/
}

.address-grid-inf-w3layouts:nth-child(3) {
    /*padding-right: 0;*/
}

.address-grid-inf-w3layouts span {
    font-size: 1.7em;
    color: #fff;
    margin-top: 27px;
}

.address-right {
    margin-top: 1.2em;
}

.address-right h6 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
    color: #fff;
}

.contact_grid_right {
    width: 100%;
}

.contact_grid_right input[type="text"],
.contact_grid_right input[type="email"],
.contact_grid_right textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #777;
    background: #f7f7f7;
    width: 100%;
    letter-spacing: 1px;
    border: 1px solid #ebeeef;
    margin-top: 1em;
}

.contact_grid_right input[type="text"]:nth-child(2),
.contact_grid_right input[type="email"] {
    margin: 1em 0 0;
}

.contact_grid_right textarea {
    min-height: 150px;
    margin: 1em 0em;
    resize: none;
}
.contact_grid_right .btn_enviar,
.contact_grid_right input[type="submit"],
.contact_grid_right input[type="reset"] {
    outline: none;
    padding: 20px 0;
    font-size: 14px;
    color: #fff;
    background: #ed1c24;
    width: 22%;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 600;
    cursor: pointer;
}
.contact_grid_right .btn-enviar:hover,
.contact_grid_right input[type="submit"]:hover,
.contact_grid_right input[type="reset"]:hover {
    background-color: #06003E;
}

.contact-left h4 {
    color: #444;
    font-size: 1em;
    margin-bottom: .5em;
    letter-spacing: 1px;
    font-weight: 700;
}

.contact-left p {
    font-size: 1em;
    letter-spacing: 1px;
}

.contact-text a {
    color: #888;
}

.contact-text a:hover {
    color: #fb383b;
}

.contact_grid_right h6,
.contact-left h6 {
    font-size: 1.2em;
    color: #1f205a;
    margin-bottom: 1.5em;
    letter-spacing: 1px;
    font-weight: 400;
}

.contact-map {
    width: 100%;
}

.contact-map iframe {
    width: 100%;
    height: 300px;
}

.address-info {
    padding: 2em 2em;
    background: #1f205a;
}

.address.row {
    width: 100%;
    margin: 2em 0 3em 0;
}

.address-right a {
    color: #bdbdbd;
}

.address-right p {
    font-size: 0.85em;
}

/*-- //contact--*/

/*--responsive--*/

@media(max-width:1080px) {
    .input {
        max-width: 309px;
        width: calc(100% - 0em);
        vertical-align: top;
        float: left;
    }
}

@media(max-width:991px) {
    .contact_grids_info {
        padding: 0;
        margin-top: 1em;
    }
    .input {
        max-width: 100%;
    }
    span.input.input--chisato:nth-child(2) {
        margin: 0;
    }
    .map iframe {
        width: 100%;
        min-height: 303px;
    }
}

@media(max-width:767px) {
    .address.row {
        width: auto;
    }
    .contact_grid_right {
        width: 90%;
        margin: 0 auto;
    }
}

@media(max-width:640px) {
    .mail_form input[type="submit"] {
        width: 40%;
    }
    .mail_form textarea {
        padding: .9em 0.9em;
        margin: 1.3em 0;
        min-height: 140px;
    }
    .contact_grid_right input[type="submit"],
    .contact_grid_right input[type="reset"] {
        outline: none;
        padding: 15px 0;
        font-size: 14px;
        color: #fff;
        background: #0e0f10;
        width: 32%;
    }
}

@media(max-width:600px) {
    .map iframe {
        width: 100%;
        min-height: 250px;
    }
}

@media(max-width:568px) {}

@media(max-width:480px) {}

@media(max-width:440px) {}

@media(max-width:414px) {}

@media(max-width:384px) {}

@media(max-width:375px) {}

@media(max-width:320px) {}

/*--//responsive--*/
