#stp-bg {
  display: none;
  position: fixed;
  /*position: absolute;*/
  /* hack for IE 6*/
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 998;
}

#stp-main {
  position: fixed;
  top: 220px;
  /*position: absolute;*/
  /* hack for IE 6*/
  display: none;
  width: 450px;
  border: 7px solid #1f205a;
  background: #fff;
  z-index: 999;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  margin: 0pt;
  padding: 0pt;
  color: #333333;
  text-align: left;
  font-family: arial, sans-serif !important;
  font-size: 13px;
}

#stp-title {
    background-image: url(../img/aviso.jpg) !important;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
  width: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
  font-size: 18px;
  height: 440px;
  padding: 0px 0px 0px 0px;
}

#stp-close {
  float: right;
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  color: #ed1c24 !important;
  margin: 0 13px 0 0;
  border-bottom: 0px !important;
  text-decoration: none !important;
}

#stp-close:hover {
  text-decoration: none !important;
}

#stp-msg {
  background: #4074CF;
  padding: 10px 15px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold;
  line-height: 20px;
  display: none;
}

#stp-buttons {
  margin: 25px 0px 25px 120px;
  padding: 0 0 0 15px;
  display: none;
}

#stp-bottom {
  padding: 15px 10px;
  background: #EFEFEF;
  color: #95989F;
  border-top: 1px solid #DDE0E8;
}

#stp-counter {
  font-size: 11px !important;
  text-align: right;
  font-weight: bold;
}

.stp-button {
  float: left;
  width: 120px;
}

.step-clear {
  clear: both !important;
}

@media(max-width:460px) {
  #stp-main {
    width: 80%;
    left: 0px !important;
  }
}
